PORT=5001
APOLLO_PORT=4000
GITHUB_API_URL=https://api.github.com
GITHUB_CLIENT_ID=<SET_GITHUB_CLIENT_ID_HERE>
GITHUB_CLIENT_SECRET=<SET_GITHUB_CLIENT_SECRET_HERE>
JWT_SECRET=nDnBppCaGL0C-lsL8AZzNVnz0_dJWD_Jn
